<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>VisualF1</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/resources/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">VisualF1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lap Times
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/visualformulaone/lapcharts/monaco.html">Monaco GP</a>
              <a class="dropdown-item" href="/visualformulaone/lapcharts/villeneuve.html">Canadian GP</a>
              <a class="dropdown-item" href="/visualformulaone/lapcharts/red_bull_ring.html">Austrian GP</a>
              <a class="dropdown-item" href="/visualformulaone/lapcharts/silverstone.html">British GP</a>
          </div>
          <li class="nav-item active">  
            <a class="nav-link" href="/visualformulaone/lapcharts/comparison.html">Circuit Comparison</a>
          </li>
          <li class="nav-item active"></li>
            <a class="nav-link" href="/visualformulaone/data/data.html">Dataset</a>
          </li>
          <li>
              <a class="nav-link" href="/">a</a>
          </li>

      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div clas="row">
        <div class="col-md-6">
        <h1>{{rdetails.details.year}} {{rdetails.details.race}}</h1>
        <h2>Round {{rdetails.details.round}} - {{rdetails.details.date}}</h2>

        </div>

    </div>
    
    
    <div class="row">
      <div class="col-md-12">
          <h3 class="heading">Race Results</h3>
          <table>
            <th>Car Number</th>
            <th>Driver Name</th>
            <th>Constructor</th>
            <th>Position</th>
            <th>Time</th>

            {% for result in rdetails.results %}
            <tr>
              <td>{{result.number}}</td>
              <td>{{result.name}}</td>
              <td>{{result.constructor}}</td>
              <td>{{result.position}}</td>
              <td>{{result.time}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <h3 class="heading">Driver Standings</h3>
        <table>
          <th>Driver</th>
          <th>Points</th>
          {% for result in rdetails.dstandings %}
          <tr>
            <td>{{result.name}}</td>
            <td>{{result.champ_points}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-md-6">
        <h3 class="heading">Constructor Standings</h3>
        <table>
          <th>Constructor</th>
          <th>Points</th>
          {% for result in rdetails.cstandings %}
          <tr>
              <td>{{result.constructor}}</td>
              <td>{{result.champ_points}}</td>
          </tr>
            {% endfor %}
          
        </table>
      </div>
    </div>

  </div>

</body>

</html>
